<h1>首頁</h1>
<p>教材 PC Hardware</p>
<h2>HW1</h2>
<h3>PCH 15 Introduction to Wireless Networking&amp;無線網絡簡介</h3>
<p>Wireless LANs/無線局域網</p>
<p>Overview/總覽<br/>The popularity of wireless local area networks (WLAN) has increased exponentially because WLAN enables people to remain connected to the network and the Internet without being tethered by wires. In this unit, we are going to cover the concepts, components, standards, design considerations, and security of WLANs. IEEE 802.11 is the overarching standard for wireless LAN technology, and was developed and is maintained by the Institute of Electrical and Electronics Engineers (IEEE) to provide wireless Ethernet connectivity to a wired IEEE 802.3 network.</p>
<p>無線局域網（WLAN）的普及已成倍增加，因為WLAN使人們能夠保持連接到網絡和Internet，而不必受到電線的束縛。在本單元中，我們將介紹WLAN的概念，組件，標準，設計注意事項和安全性。IEEE 802.11是無線LAN技術的總體標準，由電氣和電子工程師協會（IEEE）開發和維護，以提供與有線IEEE 802.3網絡的無線以太網連接。</p>
<p>WLAN Concepts/WLAN概念</p>
<p>Wireless local area networks are broken down into two generalized categories ad-hoc WLANs and infrastructure WLANs. In ad hoc wireless networks, the wireless devices communicate directly with each other without the need for a wireless access point. This mode is similar to a peer-to-peer network topology, where each device connects to each other device in a mesh configuration using radio frequency waves directly between each wireless device’s interface card. This is the wireless equivalent of connecting two workstations together using a crossover cable, thereby eliminating the need for network infrastructure like hubs and switches.</p>
<p>無線局域網分為兩大類 即席WLAN和基礎設施WLAN。在自組織無線網絡中，無線設備之間直接相互通信，而無需無線接入點。此模式類似於點對點網絡拓撲，其中每個設備在網狀配置中使用直接在每個無線設備的接口卡之間的射頻波連接到另一個設備。這相當於使用交叉電纜將兩個工作站連接在一起的無線方式，從而消除了對集線器和交換機等網絡基礎設施的需求。</p>
<p>The second category, infrastructure WLANs, is the version that is most often and widely utilized. When operating in infrastructure mode, the wireless devices communicate to a centralized wireless router or wireless access point, and then use that centralized device to initiate communication with other wireless or wired devices that are also attached to the centralized device. This is the wireless equivalent of connecting multiple workstations to a common hub or switch and utilizing that network device to create communication between the workstations.</p>
<p>第二類是基礎設施WLAN，是最常用和廣泛使用的版本。當以基礎結構模式運行時，無線設備將與集中式無線路由器或無線接入點進行通信，然後使用該集中式設備啟動與也連接到該集中式設備的其他無線或有線設備的通信。這相當於將多個工作站連接到公共集線器或交換機，並利用該網絡設備在工作站之間創建通信。</p>
<p>Wireless Devices/無線設備<br/>As previously stated, most wireless networks utilize infrastructure mode and make use of a wireless router or wireless access point to connect the multitude of wireless devices in a given network. A wireless router is used in most small office/home office (SOHO) networks. These devices combine a router, a switch, and a wireless access point and serve as a base station and gateway for the wireless devices. The wireless router allows the wireless devices to communicate with each other using its wireless access point and switch functionality, and then uses its router functionality to connect devices to the remote network in most cases, the Internet. The wireless router often combines multiple devices into a single, small device. These features include a wireless access point (WAP), a switch, a router, a firewall, and a modem (either cable, fiber, or DSL depending on the Internet service provider).</p>
<p>如前所述，大多數無線網絡都利用基礎架構模式，並利用無線路由器或無線接入點來連接給定網絡中的眾多無線設備。在大多數小型辦公室/家庭辦公室（SOHO）網絡中使用無線路由器。這些設備將路由器，交換機和無線接入點組合在一起，並充當無線設備的基站和網關。無線路由器允許無線設備使用其無線接入點和交換機功能相互通信，然後使用其路由器功能將設備連接到遠程網絡 在大多數情況下為Internet。無線路由器通常將多個設備組合為一個小型設備。這些功能包括無線訪問點（WAP），交換機，路由器，防火牆和調製解調器 (電纜，光纖或DSL 取決於Internet服務提供商）.</p>
<p>Wireless access points, which are integrated into SOHO wireless routers, can also be purchased as standalone units. These are most often seen in corporate environments as part of an enterprise network. A wireless access point enables a wired LAN to communicate with a wireless LAN. The standalone WAP does not interconnect the two networks, though, since it is not a router. A WAP is simply a physical device that converts the radio frequency into 1s and 0s that are easily understood by the physical switch. Note that all wireless devices and the devices on the wired LAN are seen as a single subnet in a standard network. A WAP operates like a hub, broadcasting all the information it receives over the radio frequency waves and relying on the connected devices to only listen to their own traffic.</p>
<p>集成到SOHO無線路由器中的無線訪問點也可以作為獨立單元購買。這些通常在公司環境中被視為企業網絡的一部分。無線訪問點使有線LAN與無線LAN通信。但是，獨立的WAP不能將兩個網絡互連，因為它不是路由器。WAP只是將無線電頻率轉換為1和0的物理設備，物理交換機很容易理解。請注意，所有無線設備和有線LAN上的設備在標準網絡中都被視為單個子網。WAP就像集線器一樣工作，它廣播通過無線電波接收到的所有信息，並依靠連接的設備僅偵聽其自身的流量。</p>
<p>Picture of a wireless router plugged into the wall. The device is silver and black with a short antenna. There are four green illuminated indicator lights labeled power, status, WAN, and WLAN. There is a section labeled “local network,” with the numbers 1, 2, 3, and 4, and an area labeled “phone.” A logo says “powered by D-Link.”</p>
<p>Picture of a wireless router plugged into the wall. The device is silver and black with a short antenna. There are four green illuminated indicator lights labeled power, status, WAN, and WLAN. There is a section labeled “local network,” with the numbers 1, 2, 3, and 4, and an area labeled “phone.” A logo says “powered by D-Link.”</p>
<p><img alt="無線路由器插入牆壁的圖片。 該設備為銀色和黑色，天線較短。 有四個標記為電源，狀態，WAN和WLAN的綠色點亮的指示燈。 有一個標有“本地網絡”的部分，其中有數字1、2、3和4，還有一個標有“電話”的區域。 徽標上寫著“由D-Link供電”。" class="popimg" id="_i_0" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH15/webcontent/PCH15/image1.jpeg" title="無線路由器插入牆壁的圖片。 該設備為銀色和黑色，天線較短。 有四個標記為電源，狀態，WAN和WLAN的綠色點亮的指示燈。 有一個標有“本地網絡”的部分，其中有數字1、2、3和4，還有一個標有“電話”的區域。 徽標上寫著“由D-Link供電”。"/></p>
<p>Kyocera KR1 Mobile EV-DO router. Photo used under CC-BY-NC license from Scott Beale.</p>
<p>京瓷KR1移動式EV-DO路由器。照片由Scott Beale根據CC-BY-NC許可使用。</p>
<p>Wireless network interface cards (NICs) for WiFi, Bluetooth, and infrared are generally integrated into motherboard circuitry. If your computer doesn’t have one built in, you have the ability to add one either using an external USB wireless network adapter, or installing one in a PCIe expansion slot; just remember to install the appropriate drivers for your operating system to enable proper operations.</p>
<p>用於WiFi，藍牙和紅外的無線網絡接口卡（NIC）通常集成在主板電路中。如果您的計算機沒有內置的適配器，則可以使用外部USB無線網絡適配器添加一個適配器，也可以在PCIe擴展插槽中安裝一個適配器。只需記住為您的操作系統安裝適當的驅動程序即可啟用正確的操作。</p>
<p>Wireless Standards/無線標準</p>
<p>Background and History/背景和歷史<br/>Wireless (Wi-Fi) networking speeds, the technology behind broadcast streams, and wireless security have greatly improved user connectivity, which in turn has increased the use of multi-purpose devices such as smartphones and tablets in corporate and SOHO networks. The freedom of Wi-Fi has become the infrastructure of choice and essentially relegated wired networks more to moving mass data traffic and less user traffic. Although it will not eliminate the wired infrastructure, because Wi-Fi access points need to connect to a wired device using the Ethernet standard, Wi-Fi allows greater expandability and access for IT departments in both corporate and SOHO environments.</p>
<p>無線（Wi-Fi）網絡速度，廣播流背後的技術以及無線安全性極大地改善了用戶連接性，從而增加了企業和SOHO網絡中諸如智能手機和平板電腦等多功能設備的使用。Wi-Fi的自由度已成為首選的基礎架構，從本質上講，降級的有線網絡更多地用於移動海量數據流量和更少的用戶流量。儘管不會消除Concepts/WLAN概念有線基礎設施，但由於Wi-Fi接入點需要使用以太網標準連接到有線設備，因此Wi-Fi允許企業和SOHO環境中的IT部門具有更大的可擴展性和訪問權限。</p>
<p>At the time when Wi-Fi became viable for implementation, the wired standard available in most corporate and SOHO networks operated at 100 Mbps. The Institute of Electrical and Electronics Engineers (IEEE) Standards Committee creates and maintains media access control (MAC) and physical layer (PHY) specifications for implementing WLAN computer communication. The IEEE 802.11 standard is overarching guidance that has been provided for the large number of wireless standards. The IEEE Wi-Fi standard is 802.11 with a small letter designation referring to the next revision (e.g., 802.11n, 802.11ac, 802.11ad, etc.). Each standard (like 802.11a, 802.11b, 802.11g, or 802.11n) is differentiated by the frequency range or frequency band that it utilizes.</p>
<p>當Wi-Fi成為可行的實現時，大多數公司和SOHO網絡中可用的有線標準以100 Mbps的速度運行。電氣和電子工程師協會（IEEE）標準委員會創建並維護用於實現WLAN計算機通信的媒體訪問控制（MAC）和物理層（PHY）規範。IEEE 802.11標準是為大量無線標準提供的總體指導。IEEE Wi-Fi標準是802.11，帶有小寫字母，表示下一個修訂版本（例如802.11n，802.11ac，802.11ad等）。每個標準（如802.11a，802.11b，802.11g或802.11n）都根據其使用的頻率範圍或頻帶進行區分。</p>
<p>The 802.11 standard was initially ratified in 1997 and devices compliant with the 802.11a and 802.11b revisions became commercially available soon after in 2000. Despite higher throughput, 802.11a devices were not as readily adopted as 802.11b devices. At the time Wi-Fi became viable to deploy 802.11b at a maximum throughput of 11 Mbps, wired networks were at a minimum of 100 Mbps in most corporate and SOHO environments. The slower throughput kept users more reliant on traditional desktop machines and less likely to use their new wireless-capable laptops wirelessly. Once 802.11g was sufficiently saturated in the market, the disparity between its 54 Mbps speed and the 100 Mbps speed of wired networks became less noticeable and consumers became more interested in being wireless. The industry continued to push for ways to design higher throughput devices and incorporate the hardware into mobile devices such as cell phones, tablets, and lighter-weight laptops.</p>
<p>802.11標準最初是在1997年批准的，並且與802.11a和802.11b修訂版兼容的設備在2000年之後不久就可以商業化使用。儘管吞吐量更高，但802.11a設備卻不如802.11b設備那樣容易採用。當Wi-Fi能夠以11 Mbps的最大吞吐量部署802.11b時，在大多數公司和SOHO環境中，有線網絡的最低速度為100 Mbps。較低的吞吐量使用戶更依賴於傳統台式機，並且不太可能無線使用其具有無線功能的新型筆記本電腦。一旦802.11g在市場上充分飽和，其54 Mbps速度與100 Mbps有線網絡速度之間的差異就變得不那麼明顯了，消費者對無線變得越來越感興趣。</p>
<p>Wireless LANs use two primary frequency bands 2.4 GHz and 5 GHz. The 2.4 GHz range actually encompasses 2.4 to 2.5 GHz frequencies, while the 5 GHz range is 5.75 GHz to 5.875 GHz. Each frequency band has specific channels (or small portions of frequency) at which the devices operate to avoid overlapping with other wireless LAN devices. For 2.4 GHz frequency bands, it is important to choose channels 1, 6, and 11 to avoid overlapping frequencies. This is because overlapping can cause interference in your networks and cause data transmission and receiving issues for the devices.</p>
<p>無線局域網使用兩個主要頻段 2.4 GHz和5 GHz。2.4 GHz範圍實際上包含2.4至2.5 GHz頻率，而5 GHz範圍是5.75 GHz至5.875 GHz。每個頻帶具有設備在其上操作的特定信道（或頻率的一小部分），以避免與其他無線LAN設備重疊。對於2.4 GHz頻段，重要的是選擇頻道1、6和11，以避免頻率重疊。這是因為重疊會導致網絡干擾，並導致設備的數據傳輸和接收問題。</p>
<p>Speed, Range, and Frequencies/速度，範圍和頻率</p>
<p>Bandwidth speed has been greatly improved through the revisions after 802.11b, as shown in the table below. When discussing data flow and speed, the two terms referred to are bandwidth and throughput. Though they are often used interchangeably, the two terms are different and need to be understood. Simply put, bandwidth is the theoretical maximum of the given standard, whereas throughput is the actual potential in a real-world scenario. Many factors affect actual throughput, such as frequency, channel overlap, and broadcast streams.</p>
<p>如下表所示，通過802.11b的修訂，帶寬速度得到了極大的提高。在討論數據流和速度時，所指的兩個術語是帶寬和吞吐量。儘管它們經常互換使用，但這兩個術語是不同的，需要理解。簡而言之，帶寬是給定標準的理論最大值，而吞吐量是實際情況下的實際潛力。許多因素會影響實際吞吐量，例如頻率，頻道重疊和廣播流。</p>
<table align="center" cellspacing="0" class="wbtable" lang="">
<tbody>
<tr class="e">
<td align="center" lang=""><em class="italic" lang=""><em class="bold" lang=""><span>修訂版</span></em></em></td>
<td align="center" lang=""><em class="italic" lang=""><em class="bold" lang=""><span>（最大）帶寬</span></em></em></td>
<td align="center" lang=""><em class="italic" lang=""><em class="bold" lang=""><span>頻率</span></em></em></td>
</tr>
<tr>
<td align="center" lang=""><span>802.11a</span></td>
<td align="center" lang=""><span>54 Mbps</span></td>
<td align="center" lang=""><span>3.7 / 5.0</span></td>
</tr>
<tr class="e">
<td align="center" lang=""><span>802.11b</span></td>
<td align="center" lang=""><span>11 Mbps</span></td>
<td align="center" lang=""><span>2.4</span></td>
</tr>
<tr>
<td align="center" lang=""><span>802.11g</span></td>
<td align="center" lang=""><span>54 Mbps</span></td>
<td align="center" lang=""><span>2.4</span></td>
</tr>
<tr class="e">
<td align="center" lang=""><span>802.11n</span></td>
<td align="center" lang=""><span>300/600 Mbps</span></td>
<td align="center" lang=""><span>2.4 / 5.0</span></td>
</tr>
<tr>
<td align="center" lang=""><span>802.11ac</span></td>
<td align="center" lang=""><span>1700+ Gbps</span></td>
<td align="center" lang=""><span>5.0</span></td>
</tr>
</tbody>
</table>
<p>The four wireless standards that are important to focus your studies on are 802.11a, 802.11b, 802.11g, and 802.11n. 802.11a operates in the 5 GHz frequency band, has a maximum bandwidth of 54 Mbps, and has a range of up to 35 meters indoors and 120 meters outdoors. 802.11b operates in the 2.4 GHz frequency band, has a maximum bandwidth of 11 Mbps, and has a range of up to 32 meters indoors and 140 meters outdoors. 802.11g operates in the 2.4 GHz frequency band, has a maximum bandwidth of 54 Mbps, and has a range of up to 32 meters indoors and 140 meters outdoors. 802.11n features a dual-band transceiver, operating in both the 2.4 GHz and 5 GHz frequency bands, has a maximum bandwidth of more than 300 Mbps, and has a range of up to 70 meters indoors and 250 meters outdoors.</p>
<p>重點研究的四個無線標準是802.11a，802.11b，802.11g和802.11n。802.11a工作在5 GHz頻段，最大帶寬為54 Mbps，室內的最大距離為35米，室外的最大距離為120米。802.11b工作在2.4 GHz頻段，最大帶寬為11 Mbps，室內最大範圍為32米，室外最大範圍為140米。802.11g工作在2.4 GHz頻段，最大帶寬為54 Mbps，室內最大範圍為32米，室外最大範圍為140米。802.11n具有工作在2.4 GHz和5 GHz頻帶上的雙頻收發器，最大帶寬超過300 Mbps，室內最大範圍為70米，室外最大範圍為250米。</p>
<p>The 2.4 GHz frequency band is more robust than the 5.0 GHz in that it is less susceptible to interference and has a wider distance range. However, many more devices such as RC toys, cordless telephones, other radio devices such as mice and keyboards, and microwave ovens also operate in the 2.4 GHz frequency, so it is more crowded, which can have a negative impact on throughput. Although the 5.0 GHz frequency band is less crowded, it is more susceptible to obstructions such as building infrastructure (i.e., walls, floors, steel beams, etc.) due to absorption.</p>
<p>2.4 GHz頻段比5.0 GHz更加健壯，因為它不易受到干擾，並且距離範圍更廣。但是，更多的設備（例如RC玩具，無繩電話，其他無線電設備（例如鼠標和鍵盤）和微波爐）也以2.4 GHz頻率運行，因此擁擠不堪，這可能會對吞吐量產生負面影響。儘管5.0 GHz頻帶的擁擠程度較小，但由於吸收，它更容易受到諸如建築基礎設施（例如，牆壁，地板，鋼樑等）的障礙物的影響。</p>
<p>Beginning with the 802.11n standard and subsequently moving to the current 802.11ac standard, manufacturers incorporated multiple antennae to achieve higher throughput. Known as multiple-input multiple-output (MIMO), both revisions accomplish the higher throughput by allowing operation at two different channel widths (20 and 40 MHz) within the same frequency and operate on both 2.4 GHz and 5.0 GHz frequency bands at the same time. Wireless N (802.11n) and wireless AC have a much larger bandwidth and maximum range, because they use MIMO and multiple frequency bands working in tandem to increase transmission and reception.</p>
<p>從802.11n標准開始，然後發展到當前的802.11ac標準，製造商採用了多個天線來實現更高的吞吐量。這兩種版本都稱為多輸入多輸出（MIMO），通過允許在相同頻率內在兩個不同的信道寬度（20和40 MHz）下運行並在2.4 GHz和5.0 GHz頻段上同時運行來實現更高的吞吐量。時間。無線N（802.11n）和無線AC具有更大的帶寬和最大範圍，因為它們使用MIMO和多個頻段協同工作來增加傳輸和接收。</p>
<p>An important note is that wireless N, G, and B are all compatible because they all support the 2.4 GHz frequency, allowing for backward compatibility. If you use multiple standards, like B, G, and N devices at the same time on a singular wireless N wireless access point, the WAP will default back to wireless B standards to support each device, which will significantly slow down the network. Wireless N and wireless A are compatible because they both use the 5 GHz frequency band. However, wireless A is not compatible with wireless B or G devices.</p>
<p>重要說明是，無線N，G和B都兼容，因為它們都支持2.4 GHz頻率，從而實現了向後兼容性。如果您在單個無線N無線訪問點上同時使用多個標準，例如B，G和N設備，則WAP將默認恢復為無線B標準以支持每個設備，這將大大降低網絡速度。無線N和無線A兼容，因為它們都使用5 GHz頻帶。但是，無線A與無線B或G設備不兼容。</p>
<p>Sources of Interference/干擾源</p>
<p>Wireless networks are subject to radio frequency interference (RFI) because of other devices using frequencies in the same band as the WLAN devices. There are many sources of interference in the 2.4 GHz range, which is one reason that wireless N and newer networks have switched to the 5 GHz frequency band. The frequency interference can be caused by other WLAN devices, such as having numerous WLANs in a single building and each WAP using the same channel or channels close in number (like channel 1 and 2, or 1 and 3). To prevent this, 2.4 GHz standard wireless devices should operate in channels separated by multiple channels, such as using channels 1, 6, and 11.</p>
<p>由於其他設備使用與WLAN設備相同頻段的頻率，因此無線網絡會受到射頻干擾（RFI）。在2.4 GHz範圍內有許多干擾源，這是無線N和較新網絡已切換到5 GHz頻帶的原因之一。頻率干擾可能是由其他WLAN設備引起的，例如，在一棟建築物中有多個WLAN，並且每個WAP使用使用數量相同的一個或多個接近的通道（例如通道1和2，或通道1和3）。為避免這種情況，2.4 GHz標準無線設備應在由多個通道分隔的通道中運行，例如使用通道1、6和11。</p>
<p>Cordless phones, baby monitors, microwave ovens, wireless security systems, and other cordless electronics generally use the 2.4 GHz range, as well, so if you have many of those devices near your network, you may wish to upgrade to wireless N (5 GHz) to avoid interference. Physical obstacles, such as walls, appliances, cabinets, and other dense objects can also block the radio wave propagation, causing weak signals and network interference. Finally, the cause of interference could be that the originating signal is too weak, and some wireless access points allow you to increase the transmission power to overcome this type of interference.</p>
<p>無線電話，嬰兒監視器，微波爐，無線安全系統和其他無繩電子設備通常也使用2.4 GHz範圍，因此，如果網絡中有許多此類設備，則可能希望升級到無線N（5 GHz ），以避免干擾。諸如牆壁，設備，機櫃和其他密集物體之類的物理障礙物也可以阻擋無線電波的傳播，從而導致信號微弱和網絡干擾。最後，造成乾擾的原因可能是始發信號太弱，某些無線接入點使您可以增加傳輸功率以克服這種類型的干擾。</p>
<p>Privacy and Security/隱私權與安全性</p>
<p>Due to the nature of Wi-Fi being transmitted through radio frequencies, the data transferred is susceptible to being viewed and captured by any other radio receiver. Encryption and network security have become a paramount concern for IT professionals at all levels. If a Wi-Fi network is set up without encryption it is “open,” and anybody with packet sniffing software in the vicinity can capture the transmissions between the host and the wireless access point. Public cafes and retailers offering open access do so as a courtesy, but the user must know that any online login information, such as connecting to a bank, Facebook, or Twitter, is not secure and is susceptible to capture. For the prospective technician, you must know the current encryption types and best practices to secure a WLAN.</p>
<p>由於Wi-Fi是通過射頻傳輸的，因此傳輸的數據很容易被任何其他無線電接收器查看和捕獲。加密和網絡安全已成為各級IT專業人員的頭等大事。如果建立了未加密的Wi-Fi網絡，則它是“開放的”，附近裝有數據包嗅探軟件的任何人都可以捕獲主機與無線訪問點之間的傳輸。提供開放訪問權限的公共咖啡館和零售商這樣做是出於禮貌，但是用戶必須知道任何在線登錄信息（例如，連接到銀行，Facebook或Twitter）都不安全並且容易被捕獲。對於準技術人員，您必須了解當前的加密類型和最佳做法以保護WLAN。</p>
<p>Encryption Types/加密方式<br/>In order to provide security for wireless networks, the 802.11 standards provide for three major types of password protection/encryption wired equivalent privacy (WEP), Wi-Fi protected access (WPA), and Wi-Fi protected access 2 (WPA2).</p>
<p>為了提供無線網絡的安全性，802.11標準提供了三種主要的密碼保護/加密類型 有線等效保密性（WEP），Wi-Fi保護訪問（WPA）和Wi-Fi保護訪問2（WPA2）。</p>
<p>Wired Equivalent Privacy (WEP)/有線等效保密（WEP）</p>
<p>In the original 802.11 standard, the only security provided was WEP, which claims to be as secure as a wired network connection. This wireless connection was secured using encryption with a 40-bit WEP key that all access points and client devices would use (preshared key). This symmetric encryption was a good idea, but since the key was so small (40 bits), it was quickly broken by attackers.</p>
<p>在原始802.11標準中，唯一提供的安全性是WEP，它聲稱與有線網絡連接一樣安全。通過使用所有訪問點和客戶端設備都將使用的40位WEP密鑰（預共享密鑰）進行加密來保護此無線連接。這種對稱加密是一個好主意，但是由於密鑰很小（40位），因此攻擊者很快就將其破壞了。</p>
<p>To solve this, WEP evolved into using a 64-bit key and could support keys up to 128 bits, which would provide strong encryption. Unfortunately, the WEP algorithm used for encryption also relied on using an initialization vector (IV) in combination with the preshared key to create the strong encryption, but the IV was only created at 24 bits and is sent in plain text or clear text during the preshared key exchange. This was quickly compromised by attackers using a brute-force attack to determine the password using the weak IV. Many utilities exist in the open-source realm that can crack WEP passwords within just a few minutes on modern hardware. For this reason, WEP is considered insecure today and should never be used in your networks.</p>
<p>為了解決這個問題，WEP演變為使用64位密鑰，並且可以支持高達128位的密鑰，從而可以提供強大的加密功能。不幸的是，用於加密的WEP算法還依賴於使用初始化向量（IV）結合預共享密鑰來創建強加密，但是IV僅以24位創建，並且在加密期間以純文本或明文形式發送預共享密鑰交換。攻擊者使用強力攻擊使用弱IV來確定密碼，從而很快破壞了這種安全性。開源領域中存在許多實用程序，可以在短短幾分鐘內在現代硬件上破解WEP密碼。因此，WEP在今天被認為是不安全的，永遠不要在您的網絡中使用。</p>
<p>Wi-Fi Protected Access (WPA)/Wi-Fi保護訪問（WPA）</p>
<p>The WPA standard was introduced to replace the insecure WEP. WPA used a 48-bit IV in place of WEP’s 24-bit IV. This upgraded IV uses a temporal key integrity protocol (TKIP). TKIP is an IEEE standard that was designed to provide more secure encryption. TKIP is a suite of algorithms that allows WLAN equipment to upgrade to TKIP without replacing hardware. TKIP encrypts each data packet with a unique encryption key, and the keys are much stronger than WEP. To increase key strength, TKIP includes four additional algorithms.</p>
<p>引入了WPA標準來代替不安全的WEP。WPA使用48位IV代替WEP的24位IV。此升級的IV使用臨時密鑰完整性協議（TKIP）。TKIP是旨在提供更安全的加密的IEEE標準。TKIP是一套算法，可以使WLAN設備升級到TKIP，而無需更換硬件。TKIP使用唯一的加密密鑰加密每個數據包，並且該密鑰比WEP強得多。為了增強按鍵強度，TKIP包括四個附加算法。</p>
<p>In addition to TKIP, the WPA standard uses message integrity check (MIC) to confirm that data was not modified in transit. MIC uses a “hash” to verify that a message has not been altered. WPA supported both preshared key mode and enterprise mode. In enterprise mode, users are required to authenticate before exchanging their keys and each key between the client and access point is only temporary, reducing the chance of compromise. Unfortunately, WPA also suffered security flaws centered on the use of passphrases and pre-shared key (PSK) management and is now also considered to be unsecure.</p>
<p>除了TKIP，WPA標準還使用消息完整性檢查（MIC）來確認數據在傳輸過程中沒有被修改。MIC使用“哈希”來驗證消息是否已被更改。WPA支持預共享密鑰模式和企業模式。在企業模式下，要求用戶在交換密鑰之前進行身份驗證，並且客戶端和訪問點之間的每個密鑰只是臨時的，從而減少了洩露的機會。不幸的是，WPA還遭受了圍繞密碼短語和預共享密鑰（PSK）管理的安全缺陷，現在也被認為是不安全的。</p>
<p>Wi-Fi Protected Access2 (WPA2)/Wi-Fi保護訪問2（WPA2）</p>
<p>Wi-Fi protected access version 2 (WPA2) was implemented to replace both WEP and WPA because of the insecurities with the 24-bit and 48-bit initialization vectors. WPA2 requires stronger encryption and integrity checking, using counter mode (CCMP) with cipher block chaining message authentication code protocol for integrity checking. Additionally, the encryption used for WPA2 is the advanced encryption standard (AES) with a 128-bit key, the same algorithm used by the United States government to protect their classified networks. Using WPA2 creates a secure wireless network, but only when used with good passwords and shared keys. WPA2 also supports enterprise mode for centralized user authentication (used in corporate networks) and a personal mode for preshared key support (used in most homes and small offices). The key to security with WPA2 is a strong password, since the current method of breaking into a WPA2 network is to use brute force attacks against the preshared key. If your key is long and complex, the attackers will not be able to penetrate your WPA2 wireless networks.</p>
<p>由於24位和48位初始化向量的不安全性，實施了Wi-Fi保護訪問版本2（WPA2）來替代WEP和WPA。WPA2要求使用計數器模式（CCMP）和密碼塊鏈接消息身份驗證代碼協議進行更強的加密和完整性檢查，以進行完整性檢查。此外，用於WPA2的加密是具有128位密鑰的高級加密標準（AES），與美國政府用於保護其機密網絡的算法相同。使用WPA2可以創建安全的無線網絡，但前提是要使用良好的密碼和共享密鑰。WPA2還支持用於集中式用戶身份驗證的企業模式（用於公司網絡）和用於預共享密鑰支持的個人模式（用於大多數家庭和小型辦公室）。使用WPA2進行安全保護的密鑰是一個強密碼，因為當前闖入WPA2網絡的方法是對預共享密鑰使用暴力攻擊。如果密鑰又長又復雜，攻擊者將無法穿透您的WPA2無線網絡。</p>
<p>Wi-Fi Protected Access 2 Enterprise/Wi-Fi保護訪問2企業</p>
<p>WPA2 enterprise is a client/server model using the remote authentication dial-in user service (RADIUS) protocol found in larger corporate networks. The RADIUS server runs in the application layer using UDP (user datagram protocol) as a transport method, and is usually a software background service running on a UNIX or Windows server. WPA2 enterprise eliminates a shared key and replaces it with a username and a password to connect to the corporate Wi-Fi network.</p>
<p>Click here to access a table of 802.11 wireless networking standards.</p>
<p>WPA2企業版是使用大型企業網絡中使用的遠程身份驗證撥入用戶服務（RADIUS）協議的客戶端/服務器模型。RADIUS服務器使用UDP（用戶數據報協議）作為傳輸方法在應用程序層中運行，通常是在UNIX或Windows服務器上運行的軟件後台服務。WPA2企業消除了共享密鑰，並用用戶名和密碼代替了共享密鑰以連接到公司的Wi-Fi網絡。</p>
<p>單擊此處以訪問802.11無線網絡標準表。</p>
<p>Wireless Networking Types/無線網絡類型<br/>In addition to Wi-Fi networks, there are other wireless options that exist, such as Bluetooth and infrared. These types of technologies are usually used for Personal Area Networks (PANs) in order to connect (or pair) two devices in an ad hoc manner.</p>
<p>除了Wi-Fi網絡外，還存在其他無線選項，例如藍牙和紅外線。這些類型的技術通常用於個人區域網絡（PAN），以便以即席方式連接（或配對）兩個設備。</p>
<p>Bluetooth radio is used to connect many kinds of devices, including mice, keyboards, remotes, smartphones, tablets, printers, projectors, and many others. Just as USB replaced most cables between devices and the workstation, Bluetooth replaces most previous wireless technologies for personal area networks (like infrared). Bluetooth does not require direct line of sight between connected devices. Bluetooth is a low-speed, short-range networking technology that comes in three classes. Class 1, which is not common, can transmit up to 100 meters. Class 2, the most common Bluetooth in use today, can travel up to 10 meters. Class 3, a very short-range variant, only goes one meter. Bluetooth can operate at up to three Mbps, which in today’s modern computer networks is considered extremely slow.</p>
<p>藍牙無線電用於連接多種設備，包括鼠標，鍵盤，遙控器，智能手機，平板電腦，打印機，投影儀等。就像USB取代了設備與工作站之間的大多數電纜一樣，藍牙也取代了個人區域網（例如紅外線）中以前的大多數無線技術。藍牙不需要所連接設備之間的直接視線。藍牙是一種低速，短距離網絡技術，分為三類。1級（不常見）可以傳輸100米。第2類，是當今使用的最常見的藍牙，可以傳輸10米。3級是一種非常短距離的變體，只能行駛一米。藍牙可以以高達3 Mbps的速度運行，這在當今的現代計算機網絡中被認為是非常慢的。</p>
<p>Infrared existed before Bluetooth and was a short-range, low-speed, line-of-sight communication path. It was heavily used to connect personal digital assistants (PDAs) and wireless mice and keyboards. Not common in contemporary computers, it was replaced almost entirely by Bluetooth, but some machines keep an integrated infrared sensor for backward compatibility. If you have a need for infrared, but it isn’t included on your machine, you can add an infrared sensor through a USB adapter.</p>
<p>紅外技術早於藍牙技術就已經存在，它是一種短距離，低速，視線通信的路徑。它被大量用於連接個人數字助理（PDA）和無線鼠標和鍵盤。在當代計算機中並不常見，它幾乎已完全被藍牙取代，但某些機器保留了集成的紅外傳感器以實現向後兼容性。如果您需要紅外線，但您的機器中沒有紅外線，則可以通過USB適配器添加紅外線傳感器。</p>
<p>Image of the Bluetooth logo, which is a white character resembling an angular, stylized letter B in a blue oval.</p>
<p>           <img alt="藍牙徽標的圖像，它是一個白色字符，類似於藍色橢圓形中的帶角度的風格化字母B。" class="popimg" id="_i_0" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH15/webcontent/PCH15/image2.png" title="藍牙徽標的圖像，它是一個白色字符，類似於藍色橢圓形中的帶角度的風格化字母B。"/></p>
<p>Bluetooth logo. Photo used under CC-BY license from Intel Free Press.</p>
<p>藍牙徽標。照片由Intel Free Press根據CC-BY許可使用。</p>
<h3>PCH 16 Internet Connectivity&amp;互聯網連接</h3>
<p>Internet Connectivity/互聯網連接</p>
<p>Overview/總覽</p>
<p>In this module, we will discuss the various types of Internet connectivity for networks. Essentially, this connectivity provides our link to the wide area network (WAN). Each type of connection has benefits and drawbacks, so it is important that you, as a technician, understand which WAN connectivity method you should use in a given scenario. Also, we will cover the basic methods of connecting a small office/home office (SOHO) network, to include wireless devices and connection to the Internet.</p>
<p>在本模塊中，我們將討論網絡的各種類型的Internet連接。本質上，這種連通性提供了我們到廣域網（WAN）的鏈接。每種類型的連接都有其優點和缺點，因此，作為一名技術人員，了解在給定方案中應使用哪種WAN連接方法非常重要。此外，我們還將介紹連接小型辦公室/家庭辦公室（SOHO）網絡的基本方法，包括無線設備和與Internet的連接。</p>
<p>Networking Internet Connectivity/聯網 網路連接<br/>The oldest method of Internet connectivity is the dial-up network, usually abbreviated as DUN. Dial-up networking uses the public telephone lines using an analog audible signal over the line, which provides a maximum speed of 56 Kbps. The public switched telephone network (PSTN) is made up of multiple telephone carriers from around the world. Analog connections (voice and data) using the PSTN are called plain old telephone service (POTS) connections. To connect to the Internet using POTS, you needed both a modem and a dial-up Internet service provider (ISP) to answer your dial-up call.</p>
<p>最早的Internet連接方法是撥號網絡，通常縮寫為DUN。撥號網絡使用公用電話線，該公用電話線在線路上使用模擬音頻信號，最大速度為56 Kbps。公共交換電話網（PSTN）由來自世界各地的多個電話運營商組成。使用PSTN的模擬連接（語音和數據）稱為普通舊電話服務（POTS）連接。要使用POTS連接到Internet，您需要調製解調器和撥號Internet服務提供商（ISP）來應答您的撥號電話。</p>
<p>A modem is a device that converts 1s and 0s from their digital state into an audible state that is transferred over a standard telephone line. Modem stands for modulate/demodulate, which is the process of the digital data being converted to/from analog for transmission. Modems can reside in or be connected to computers in multiple ways, including</p>
<p>調製解調器是一種將1和0從其數字狀態轉換為可聽狀態的設備，該狀態可通過標準電話線傳輸。調製解調器代表調製/解調，這是將數字數據轉換為模擬數據或從模擬數據轉換為傳輸數據的過程。調製解調器可以多種方式駐留在計算機中或連接到計算機，包括</p>
<p>Add-on card (like PCI or PCIe)<br/>Externally connected by USB and/or serial<br/>PC card (for laptops)<br/>Integrated in the motherboard<br/>Mini-PCI<br/>Mini-PCIe card (internal for laptops)<br/>附加卡（如PCI或PCIe）<br/>通過USB和/或串行外部連接<br/>PC卡（用於筆記本電腦）<br/>集成在主板上<br/>微型PCI<br/>Mini-PCIe卡（筆記本電腦內部）<br/>While dial-up modems were extremely popular at the dawn of the Internet in the 1980s and 1990s, the bandwidth limitation of 56 Kbps quickly become an issue as faster alternatives were sought. Eventually dial-up modems were replaced, and now they are almost nonexistent.</p>
<p>儘管撥號調製解調器在1980年代和1990年代互聯網興起之初非常受歡迎，但隨著人們尋求更快的替代方案，56 Kbps的帶寬限制迅速成為一個問題。最終，撥號調製解調器被替換了，現在它們幾乎不存在了。</p>
<p>Photograph of a dial-up modem. It is a white, rectangular plastic device. It has a power toggle switch on the top along with seven indicator lights. There is a power cord and plug in the rear of the device.</p>
<p><img alt="撥號調製解調器的照片。 它是白色的矩形塑料裝置。 它的頂部有一個電源撥動開關以及七個指示燈。 設備背面有電源線和插頭。" class="popimg" id="_i_0" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH16/webcontent/PCH16/image1.png" title="撥號調製解調器的照片。 它是白色的矩形塑料裝置。 它的頂部有一個電源撥動開關以及七個指示燈。 設備背面有電源線和插頭。"/><br/>Dial-up modem. Photo used under CC-BY-NC-ND license from tumonbay.</p>
<p>撥號調製解調器。圖片來自tumonbay的CC-BY-NC-ND許可。</p>
<p>Integrated services digital network (ISDN) is slightly faster than basic dial-up. ISDN supports multiple 64 Kbps channels over a single connection. These 64-Kbps channels are called bearer channels (B channels). ISDN provides faster speeds than dial-up, usually at 128 Kbps, and also provides an “always on” connection, instead of “on demand” (like dial-up service). ISDN was a popular alternative to DUN in the 1980s for government, corporate, and educational networks, but was too cost prohibitive for the consumer market. ISDN was one of the first “high-speed” options available to carry voice, video, or data. ISDN requires an ISDN terminal adapter, which can be internal or external and acts like a “modem” for the ISDN circuit. It takes two or more RJ-11 phone lines and binds them together to provide the desired data rate. The primary rate interface (PRI) has a maximum speed of 1.536 Mbps, but the most common ISDN service is basic rate interface, which provides either 64 Kbps (single) or 128 Kbps (double) rate service. While this is an older technology, ISDN is still entrenched in some of the larger government and educational networks because it is cost prohibitive to remove it entirely. Most entities have moved to broadband solutions such as voice over IP (VoIP) using session initiation protocol (SIP) trunks. In the next session, we will discuss the next generation of broadband data solutions. Currently, Internet protocol video teleconference (IPVT) has become more widespread and cost efficient.</p>
<p>集成服務數字網絡（ISDN）的速度比基本撥號更快。ISDN通過單個連接支持多個64 Kbps通道。這些64 Kbps通道稱為承載通道（B通道）。ISDN通常以128 Kbps的速度提供比撥號更快的速度，並且還提供了“始終在線”連接，而不是“按需”連接（例如撥號服務）。對於政府，企業和教育網絡，ISDN在1980年代是DUN的一種流行替代方法，但對於消費者市場而言，成本太高了。ISDN是最早可用於傳輸語音，視頻或數據的“高速”選項之一。ISDN需要ISDN終端適配器，該適配器可以是內部或外部的，並且充當ISDN電路的“調製解調器”。它需要兩條或多條RJ-11電話線並將它們綁在一起以提供所需的數據速率。主速率接口（PRI）的最大速度為1.536 Mbps，但是最常見的ISDN服務是基本速率接口，它提供64 Kbps（單速率）或128 Kbps（雙速率）服務。儘管這是一種較舊的技術，但ISDN在某些較大的政府和教育網絡中仍然根深蒂固，因為完全刪除它的成本高昂。大多數實體已轉向使用會話發起協議（SIP）中繼的IP語音（VoIP）等寬帶解決方案。在下屆會議上，我們將討論下一代寬帶數據解決方案。當前，互聯網協議視頻電話會議（IPVT）已經變得更加普及和具有成本效益。提供64 Kbps（單）或128 Kbps（雙）速率的服務。儘管這是一種較舊的技術，但ISDN在某些較大的政府和教育網絡中仍然根深蒂固，因為完全刪除它的成本高昂。大多數實體已轉向使用會話發起協議（SIP）中繼的IP語音（VoIP）等寬帶解決方案。在下屆會議上，我們將討論下一代寬帶數據解決方案。當前，互聯網協議視頻電話會議（IPVT）已經變得更加普及和具有成本效益。提供64 Kbps（單）或128 Kbps（雙）速率的服務。儘管這是一種較舊的技術，但ISDN在某些較大的政府和教育網絡中仍然根深蒂固，因為完全刪除它的成本高昂。大多數實體已轉向使用會話發起協議（SIP）中繼的IP語音（VoIP）等寬帶解決方案。在下屆會議上，我們將討論下一代寬帶數據解決方案。當前，互聯網協議視頻電話會議（IPVT）已經變得更加普及和具有成本效益。大多數實體已轉向使用會話發起協議（SIP）中繼的IP語音（VoIP）等寬帶解決方案。在下屆會議上，我們將討論下一代寬帶數據解決方案。當前，互聯網協議視頻電話會議（IPVT）已經變得更加普及和具有成本效益。大多數實體已轉向使用會話發起協議（SIP）中繼的IP語音（VoIP）等寬帶解決方案。在下屆會議上，我們將討論下一代寬帶數據解決方案。當前，互聯網協議視頻電話會議（IPVT）已經變得更加普及和具有成本效益。</p>
<p>Photograph of a box for a Ucom Omni TA128 ISDN terminal adapter. The box has an image of the adapter, which is a white oval device with a black front panel. The box also has an image of a barn with a man and woman standing in front.</p>
<p><img alt="Ucom Omni TA128 ISDN終端適配器的包裝盒照片。 盒子上有適配器的圖像，它是帶有黑色前面板的白色橢圓形設備。 盒子上還有一個穀倉的圖像，男人和女人站在前面。" class="popimg" id="_i_2" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH16/webcontent/PCH16/image2.png" title="Ucom Omni TA128 ISDN終端適配器的包裝盒照片。 盒子上有適配器的圖像，它是帶有黑色前面板的白色橢圓形設備。 盒子上還有一個穀倉的圖像，男人和女人站在前面。"/><br/>Ucom Omni TA128 ISDN terminal adapter. Photo used under CC-BY-NC-ND license from Martin Bekkelund.</p>
<p>Ucom Omni TA128 ISDN終端適配器。照片由Martin Bekkelund根據CC-BY-NC-ND許可使用。</p>
<p>One of the first consumer replacements for dial-up service was the digital subscriber line (DSL). DSL solved the 56.6 Kbps limitation of DUN and effectively began the consumer broadband demand for greater Internet speeds. DSL utilizes the existing POTS network that already exists at homes and offices and allows the digital signal to piggyback on the normal analog phone line. DSL is referred to as xDSL with two main varieties asymmetric DSL (ADSL) and symmetric DSL (SDSL). Other variants of xDSL include high-bit-rate DSL (HDSL); symmetric high-speed DSL (SHDSL), which is a form of symmetric DSL; and very-high-bit-rate DSL second-generation (VDSL2), a form of ADSL using combined fiber optics with copper to achieve greater speeds. ADSL provides high-speed Internet with a faster download speed than its upload speed. Download speeds are between 384 Kbps and 24 Mbps, but uploads are only 128 Kbps to 3.3 Mbps. It was marketed to home users and small businesses, who utilize the Internet primarily as a consumption network, downloading much more information than they upload. For example, if you go to a streaming video site and request a video, your request may only be a few hundred kilobytes. But, the video you receive back (download) is several hundred megabytes. This is the typical web surfing pattern of most users, so ADSL worked well for the majority of people.</p>
<p>撥號服務的第一個消費者替代產品是數字用戶線（DSL）。DSL解決了DUN的56.6 Kbps限制，並有效地開始了消費 寬帶 對更高互聯網速度的需求。DSL利用家庭和辦公室中已經存在的現有POTS網絡，並允許數字信號搭載在普通的模擬電話線上。DSL被稱為xDSL，具有兩個主要種類 非對稱DSL（ADSL）和對稱DSL（SDSL）。xDSL的其他變體包括高比特率DSL（HDSL）；對稱高速DSL（SHDSL），是對稱DSL的一種形式；第二種是非常高比特率的DSL（VDSL2），它是一種結合了銅纜和光纖以達到更高速度的ADSL。ADSL為高速Internet提供比其上載速度更快的下載速度。下載速度介於384 Kbps和24 Mbps之間，而上傳速度僅為128 Kbps至3.3 Mbps。它面向家庭用戶和小型企業，他們主要將互聯網用作消費網絡，下載的信息比上傳的信息多得多。例如，如果您訪問流媒體視頻站點並請求視頻，那麼您的請求可能只有幾百千字節。但是，您收到的視頻（下載）為數百兆字節。這是大多數用戶的典型網絡衝浪模式，因此ADSL對於大多數人來說效果很好。</p>
<p>SDSL, on the other hand, matches the download and upload speeds. Since more bandwidth is dedicated to the upload side, speed is lost on the download side. Speed ranges from 384 Kbps to 2 Mbps for both upload and download. This was used heavily in commercial scenarios, where clients need higher upload speeds due to their business models. The biggest disadvantage of xDSL is that it is distance-dependent from the telephone company switching station or central office (CO) — the further from the CO, the greater the attenuation (signal loss) and thus the slower the speed. However, telephone companies (sometimes referred to as telco) are adding DSL loop extenders and combining fiber optics with xDSL to overcome this limitation.</p>
<p>另一方面，SDSL與下載和上傳速度匹配。由於更多的帶寬專用於上載側，因此速度在下載側上損失了。上傳和下載的速度範圍從384 Kbps到2 Mbps。這在商業場景中被大量使用，在商業場景中，客戶由於其業務模型而需要更高的上載速度。xDSL的最大缺點是，它與電話公司的交換台或中心局（CO）之間的距離取決於-與CO的距離越遠，衰減（信號損耗）越大，因此速度越慢。但是，電話公司（有時稱為telco）正在添加DSL環路擴展器，並將光纖與xDSL組合在一起以克服此限制。</p>
<p>Cable, the second broadband solution for Internet connectivity, developed concurrently with DSL throughout the 1990s. Cable providers, like the telephone companies, had an immense infrastructure of wiring available as the broadband market grew. Remember that early LANs used coaxial cable prior to Ethernet, and the outgrowth to Internet connectivity using this infrastructure was natural. Cable television infrastructure contains both coaxial and fiber-optic cabling, which is called a hybrid fiber-coax (HFC) distribution network. Cable Internet provides homes and businesses with Internet service delivered over the existing coaxial cables in their area at a reasonable rate. Speeds ranging from 15/2 Mbps (download/upload speed) to 60/6 Mbps are now common with cable service, with some companies also adding fiber to their infrastructure, allowing them to achieve speeds greater than 100 Mbps downstream. Updated cable modems (DOCSIS 3.0) combined with wireless router specifications (AC3200) play an important role in achieving the package speeds Internet service providers (ISPs) advertise to their customers. Like xDSL, cable broadband has its own unique disadvantages. Specific frequency ranges are used for upstream (uploading) and downstream (downloading) data transmission, and all customers share a single hybrid fiber-coax hub, which means that bandwidth speeds fluctuate throughout the day during peak times when many neighbors are online. Fiber-optic and DSL networks do not suffer from this inconsistent data stream. Further, many companies are beginning to cap data usage and bill customers for over-usage. This can cause low speed during peak usage times, whereas true fiber and DSL networks provide a steady service capability that cable cannot.</p>
<p>電纜是第二個用於Internet連接的寬帶解決方案，在整個1990年代與DSL同時開發。像電話公司一樣，電纜提供商也隨著寬帶市場的增長而擁有龐大的佈線基礎設施。請記住，早期的LAN先於以太網使用同軸電纜，並且使用此基礎架構向Internet連接的擴展自然而然。有線電視基礎設施包含同軸電纜和光纖電纜，這稱為混合光纖同軸（HFC）分配網絡。Cable Internet為家庭和企業提供合理的速率，通過其所在地區的現有同軸電纜提供Internet服務。現在，電纜服務的速度範圍從15/2 Mbps（下載/上傳速度）到60/6 Mbps，一些公司還向其基礎架構中添加了光纖，從而使它們在下游的速度可達到100 Mbps以上。更新的電纜調製解調器（DOCSIS 3.0）與無線路由器規範（AC3200）的結合在實現Internet服務提供商（ISP）向其客戶做廣告的打包速度方面起著重要作用。像xDSL一樣，有線寬帶也有其獨特的缺點。特定的頻率範圍用於上行（上載）和下行（下載）數據傳輸，並且所有客戶共享一個混合光纖同軸集線器，這意味著在許多鄰居在線的高峰時段，帶寬速度全天都會波動。光纖和DSL網絡不會受到這種不一致的數據流的影響。進一步，許多公司開始限制數據使用量，並向客戶收費。這可能會在高峰使用時間內導致低速運行，而真正的光纖和DSL網絡提供了電纜無法提供的穩定的服務能力。</p>
<p>Photograph of a cable modem. It is an upright rectangular box. There are two yellow cords and one black cord visible in the back. There is a panel of green indicator lights on the front of the device.</p>
<p><img alt="電纜調製解調器的照片。 這是一個直立的矩形框。 背面有兩條黃線和一條黑線。 設備正面有一個綠色指示燈面板。" class="popimg" id="_i_4" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH16/webcontent/PCH16/image3.png" title="電纜調製解調器的照片。 這是一個直立的矩形框。 背面有兩條黃線和一條黑線。 設備正面有一個綠色指示燈面板。"/><br/>Cable modem. Photo used under CC-BY-SA license from Paul Boxley.</p>
<p>電纜調製解調器。Paul Boxley根據CC-BY-SA許可使用的照片。</p>
<p>The newest broadband solution providing Internet connectivity to homes and businesses is the fiber-optic network. A great example of this is Fios from Verizon, although Google Fiber is now entering this market, as well. In these networks, the company provides a fiber-optic cable to your residence or office that is terminated in a fiber-optic modem. This utilizes light over a long piece of glass cabling to provide the signal to and from the data centers. Service is exceptionally good, with very high speeds of up to 150 Mbps downloads or more. Upload speeds can also be extremely fast, reaching 35 Mbps or higher.</p>
<p>提供到家庭和企業Internet連接的最新寬帶解決方案是光纖網絡。一個很好的例子是Verizon的Fios，儘管Google Fiber現在也正在進入這個市場。在這些網絡中，公司為您的住宅或辦公室提供了一條光纖電纜，並以光纖調製解調器端接。這利用了較長的玻璃電纜上的光來提供往返數據中心的信號。服務異常出色，下載速度高達150 Mbps或更高。上傳速度也可以非常快，達到35 Mbps或更高。</p>
<p>Photograph of hundreds of glass fibers. They are thin, clear glass cylinders.</p>
<p><img alt="數百種玻璃纖維的照片。 它們是薄而透明的玻璃圓柱體。" class="popimg" id="_i_6" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH16/webcontent/PCH16/image5.png" title="數百種玻璃纖維的照片。 它們是薄而透明的玻璃圓柱體。"/><br/>Glass fibers. Photo used under CC-BY license from Roshan Nikam.</p>
<p>玻璃纖維。由Roshan Nikam根據CC-BY許可使用的照片。</p>
<p>A major disadvantage all the aforementioned broadband solutions share is availability in rural and small towns where the infrastructure does not exist. In spite of the FCC’s Connecting America The National Broadband Plan, developed as directed under the American Recovery and Reinvestment Act of 2009, there are still many areas in the United States and throughout the world that lack Internet access. Therefore, a satellite WAN connection might be an option for those requiring faster Internet service but who lack the infrastructure to receive it from the telephone or cable companies. Satellite Internet can provide fast speeds like a DSL modem, but contains low bandwidth usage limits with high costs for over-the-limit usage. Satellite tends to be an expensive option in comparison to cable and DSL service, but is often the only option in remote areas. There are two potential design problems that should be considered when using satellite service delay and weather conditions. First, the service provided by satellite has a high delay and lag time compared to more traditional Internet options. This lag time is because the signal has to travel from your satellite dish to the satellite, then to the ground station, and return through the same path. This travel time requires nearly half a second for a roundtrip to occur, because the satellite is in orbit at 22,000 miles above the earth. Second, the weather can affect your service. Just like when you watch satellite television during a thunderstorm or heavy snow, satellite Internet can be disconnected due to heavy weather conditions.</p>
<p>所有上述寬帶解決方案共享的主要缺點是在不存在基礎設施的農村和小城鎮中的可用性。儘管連通美國 國家寬帶計劃根據2009年《美國復甦和再投資法案》的指示進行開發，美國和世界上仍有許多地區缺乏Internet訪問。因此，對於那些需要更快的Internet服務但又缺乏從電話或電纜公司那裡接收Internet的基礎設施的用戶來說，可以使用衛星WAN連接。衛星Internet可以像DSL調製解調器一樣提供更快的速度，但是包含較低的帶寬使用限制以及超限使用的高成本。與電纜和DSL服務相比，衛星往往是昂貴的選擇，但通常是偏遠地區的唯一選擇。使用衛星服務時，應考慮兩個潛在的設計問題 延遲和天氣狀況。第一，與更傳統的Internet選項相比，衛星提供的服務具有較高的延遲和延遲時間。該滯後時間是因為信號必須從衛星天線傳播到衛星，然後再傳播到地面站，然後通過同一路徑返回。由於衛星在離地球22,000英里的軌道上運行，因此往返所需的時間將近半秒。其次，天氣會影響您的服務。就像在雷雨或大雪期間觀看衛星電視一樣，由於惡劣的天氣，衛星互聯網可能會斷開連接。由於衛星在離地球22,000英里的軌道上運行，因此這種往返時間需要近半秒才能發生往返。其次，天氣會影響您的服務。就像在雷雨或大雪期間觀看衛星電視一樣，由於惡劣的天氣，衛星互聯網可能會斷開連接。由於衛星在離地球22,000英里的軌道上運行，因此往返所需的時間將近半秒。其次，天氣會影響您的服務。就像在雷雨或大雪期間觀看衛星電視一樣，由於惡劣的天氣，衛星互聯網可能會斷開連接。</p>
<p>Photograph of a satellite dish. It is an oval dish with an arm-like structure protruding from the bottom. The device is pointed to the sky.</p>
<p><img alt="衛星天線的照片。 這是一個橢圓形的盤子，具有從底部突出的臂狀結構。 該設備指向天空。" class="popimg" id="_i_9" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH16/webcontent/PCH16/image4.png" title="衛星天線的照片。 這是一個橢圓形的盤子，具有從底部突出的臂狀結構。 該設備指向天空。"/><br/>Satellite dish. Photo used under CC-BY license from Alan Levine.</p>
<p>衛星天線。照片由Alan Levine根據CC-BY許可使用。</p>
<p>The last broadband solution is Worldwide Interoperability for Microwave Access (WiMAX), which uses microwave towers to provide fixed wireless access connectivity similar to Wi-Fi but with a larger geographical coverage connecting directly to metropolitan area networks (MANs). Following the IEEE 802.16 standard, WiMAX operates on a different radio frequency than Wi-Fi and can be used to connect businesses to a MAN as well as individual subscribers to the Internet through an ISP. Providing up to 70 Mbps, WiMAX can provide coverage to rural areas, like satellite does, but at a lesser cost and with more reliability. Distance is another factor, because within three miles (nearly five kilometers) users can connect using a wireless WiMAX device similar to a Wi-Fi access point, but greater than that distance requires a “line of sight” antenna.</p>
<p>最新的寬帶解決方案是全球微波訪問互操作性（WiMAX），它使用微波塔提供類似於Wi-Fi的固定無線訪問連接，但是地理覆蓋範圍更大，可以直接連接到城域網（MAN）。遵循IEEE 802.16標準，WiMAX的工作頻率與Wi-Fi的無線電頻率不同，可用於將企業連接到MAN以及將單個訂戶通過ISP連接到Internet。WiMAX可以提供高達70 Mbps的速度，可以像衛星一樣向農村地區提供覆蓋，但是成本更低，可靠性更高。距離是另一個因素，因為用戶可以在三英里（近五公里）內使用類似於Wi-Fi接入點的無線WiMAX設備進行連接，</p>
<p>WiMAX論壇是一個由行業領導者組成的聯盟，致力於確保規範內的兼容性和互操作性。WiMAX被用於服務市政當局和專用通信結構，例如航空移動機場通信系統（AeroMACS）。</p>
<p>The WiMAX Forum is a consortium comprised of industry leaders dedicated to ensure compatibility and interoperability within the specification. WiMAX is leveraged to serve municipalities and specialized communication structures such as the Aeronautical Mobile Airport Communications System (AeroMACS).</p>
<p>WiMAX論壇是一個由行業領導者組成的聯盟，致力於確保規範內的兼容性和互操作性。WiMAX被用於服務市政當局和專用通信結構，例如航空移動機場通信系統（AeroMACS）。</p>
<p>Another option for Internet connectivity, and by far the newest for mobile Internet connectivity, is cellular networks. In order to access the cellular network, you must use a cellular modem. Cellular modems come in a variety of models, including internal (mini PCIe) cards for laptops, USB external modem sticks, and Wi-Fi devices (like cellphones or MiFi units). Cellular modems operate at speeds up to 4G (100 Mbps) wherever cellular service exists. If 4G is not available, the cellular modems are backward compatible with the older networks such as 3G at 800 Kbps and 2G at 56 Kbps speeds.</p>
<p>蜂窩網絡是Internet連接的另一種選擇，也是迄今為止最新的移動Internet連接。為了訪問蜂窩網絡，必須使用蜂窩調製解調器。蜂窩調製解調器有多種型號，包括用於筆記本電腦的內部（微型PCIe）卡，USB外部調製解調器棒和Wi-Fi設備（例如手機或MiFi設備）。蜂窩調製解調器在任何存在蜂窩服務的地方都可以高達4G（100 Mbps）的速度運行。如果無法使用4G，則蜂窩調製解調器將與較早的網絡向後兼容，例如800 Kbps的3G和56 Kbps的速度的2G。</p>
<p>Smartphones can now be turned into wireless hotspots through tethering. With tethering, the phone acts like a cellular modem for a tablet or computer. You can connect devices to the cell phone through Bluetooth, Wi-Fi, or the USB port and then out to the Internet through the cellular network. The only requirement is that the smartphone has Wi-Fi capability.</p>
<p>現在，可以通過網絡共享將智能手機變成無線熱點。通過網絡共享，電話就像平板電腦或計算機的蜂窩調製解調器一樣。您可以通過藍牙，Wi-Fi或USB端口將設備連接到手機，然後通過蜂窩網絡連接到Internet。唯一的要求是智能手機必須具有Wi-Fi功能。</p>
<p>Due to the underlying infrastructure, 4G data speed is significantly greater than 3G. Until 2015, the infrastructure was either mobile WiMax or LTE. Mobile WiMAX was adopted by Sprint, Intel, and other industry leaders to be the next generation for cellular carriers. While some mobile carriers invested and developed access through mobile WiMAX, others backed 4G LTE, which progressed from the Global System for Mobile Communications (GSM) standard. Both standards, as with all cellular networking, are incredibly sensitive to distance from carrier towers. As of March 2016, Mobile WiMAX lost the backing of Sprint when they shut down their mobile WiMAX network, and it appears that LTE will be the infrastructure supporting 4G.</p>
<p>由於具有基礎架構，因此4G數據速度明顯高於3G。直到2015年，基礎設施還是移動WiMax或LTE。移動WiMAX被Sprint，英特爾和其他行業領導者採用，成為蜂窩運營商的下一代產品。一些移動運營商通過移動WiMAX投資並開發了接入服務，而其他移動運營商則支持從全球移動通信系統（GSM）標準發展而來的4G LTE。與所有蜂窩網絡一樣，這兩個標準對與運營商塔樓之間的距離非常敏感。截至2016年3月，移動WiMAX在關閉其移動WiMAX網絡時失去了Sprint的支持，並且看來LTE將成為支持4G的基礎架構。</p>
<p>A standard under development and expected to be released sometime in the early 2020s is 5G. The premise of this standard is that Internet connectivity has become more of a requirement than a luxury. Although the cellular market has moved away from mobile WiMAX, the infrastructure is still available throughout the world for fixed wireless. The Internet of things (IoT) is a phrase used to describe the convergence that is taking place now in the 21st century, when any and all capable devices will be connected to the Internet. From smart homes and their subsystems, to appliances, to automobiles with Wi-Fi and GPS, users will be deriving benefits from broadband technologies and “always on” connectivity. The 5G standard and other major initiatives in the fiber-optic and Wi-Fi industries are promising to move toward that end. Groups such as the WiMAX Forum and many other industry leaders are heavily investing in bringing together device connectivity under the IoT umbrella.</p>
<p>5G是正在開發中的標準，預計將在2020年代初發布。該標準的前提是，Internet連接已成為一種需求，而非奢侈。儘管蜂窩市場已經脫離了移動WiMAX，但該基礎設施仍在全球範圍內用於固定無線。物聯網（IoT）是一個短語，用於描述21世紀當今正在發生的融合，屆時，任何功能強大的設備都將連接到Internet。從智能家居及其子系統，到家用電器，再到具有Wi-Fi和GPS的汽車，用戶將從寬帶技術和“始終在線”的連接中受益。光纖和Wi-Fi行業中的5G標準和其他主要舉措有望朝著這一目標邁進。</p>
<p>As we previously mentioned, both cable and xDSL networks benefit by incorporating fiber into the back end (known as the backhaul ), which increases the overall bandwidth available to the customer. Another major benefit of fiber is its resistance to electromagnetic interference.</p>
<p>如前所述，電纜和xDSL網絡都受益於將光纖集成到後端（稱為 回程）中，從而增加了可供客戶使用的整體帶寬。纖維的另一個主要優點是它具有抗電磁干擾的能力。</p>
<p>Setting up a Network/建立網路</p>
<p>The first and probably the most important step in deploying a wireless network is the planning phase. A site survey is the process of evaluating a network solution to deliver the required coverage, data rates, network capacity, roaming capacity, and quality of service.</p>
<p>部署無線網絡的第一步也是最重要的一步是規劃階段。站點調查是評估網絡解決方案以提供所需覆蓋範圍，數據速率，網絡容量，漫遊容量和服務質量的過程。</p>
<p>Factors that affect the number of access points needed in a building include</p>
<p>影響建築物所需接入點數量的因素包括</p>
<p>The size of the building.<br/>The number and type of walls in the building and their composition.<br/>The type of interference or obstructions between stations and the access point.<br/>The presence of high-voltage equipment (microwaves, power transformers, air-conditioning/heating units, elevators, etc.).<br/>Existing wired and wireless implementations.<br/>Bandwidth requirements.<br/>建築物的大小。<br/>建築物中牆壁的數量和類型及其組成。<br/>站點與接入點之間的干擾或障礙類型。<br/>存在高壓設備（微波爐，電源變壓器，空調/加熱裝置，電梯等）。<br/>現有的有線和無線實現。<br/>帶寬要求。<br/>To connect your device to the Internet, you need to have two things. First, you must have an Internet access device (or modem) such as we described in the previous section. This is really dependent on your requirements and the ISP choices where you are located. The Internet service provider (ISP) you choose will determine the type of modem you need and will supply the customer-premises equipment (CPE) for the outside of the building. Next, you must provide your network with a router, which serves as the interconnection point from your local area network clients (LAN) to the ISP external network (WAN).</p>
<p>要將設備連接到Internet，您需要做兩件事。首先，您必須具有上一節所述的Internet訪問設備（或調製解調器）。這實際上取決於您的要求和您所在位置的ISP選擇。您選擇的Internet服務提供商（ISP）將確定所需的調製解調器的類型，並將為建築物的外部提供客戶駐地設備（CPE）。接下來，您必須為網絡提供一個路由器，該路由器用作從局域網客戶端（LAN）到ISP外部網絡（WAN）的互連點。</p>
<p>There are really only 11 steps to set up a small office, home office (SOHO) network</p>
<p>設置小型辦公室，家庭辦公室（SOHO）網絡實際上只有11個步驟</p>
<p>Decide on the type of Internet connection you will use. The ISP you choose will determine the type of modem you need and whether you buy or lease it. For a small office or home office, your most obvious choices will most likely be fiber, cable, or DSL, although a satellite, WiMAX, or cellular connection might be viable.<br/>Determine how your workstations, often referred to as clients, will connect to the router. Will you use a wireless access point or wired Ethernet switch?<br/>Choose the modem and router that will support your first two choices.<br/>Set up the account with the ISP. They will come to your location to set up the CPE, including any wiring to the location where you determine the modem is to be placed. Whether you chose to lease or buy your own modem, the ISP usually offers a service to set up the connection between the modem and your LAN router. You also have the option of installing it yourself.<br/>Cable the modem and router together.<br/>Configure the router and wireless access point (if used).<br/>Connect each client to the network (cabled or wireless) and verify they are working properly.<br/>Configure each device to be part of the same workgroup or create a homegroup; this will allow you to configure each client to share resources like printers and file sharing.<br/>Set up file and print sharing on each client designating which resources to share.<br/>Test each client to verify they can reach the Internet.<br/>Test the resources you shared in step 9 to make sure they are connected. If everything is working, you have an effective, Internet-connected workgroup that can share resources internally, as well.<br/>確定您將使用的Internet連接類型。您選擇的ISP將確定所需的調製解調器類型以及是否購買或租賃它。對於小型辦公室或家庭辦公室，儘管衛星，WiMAX或蜂窩連接可能可行，但最顯而易見的選擇很可能是光纖，電纜或DSL。<br/>確定您的工作站（通常稱為客戶端）如何連接到路由器。您將使用無線接入點還是有線以太網交換機？<br/>選擇將支持您的前兩個選擇的調製解調器和路由器。<br/>使用ISP設置帳戶。他們將來到您的位置來設置CPE，包括到您確定要放置調製解調器的位置的任何佈線。無論您選擇租賃還是購買自己的調製解調器，ISP通常都會提供一項服務來建立調製解調器與LAN路由器之間的連接。您也可以選擇自己安裝它。<br/>用電纜將調製解調器和路由器連接在一起。<br/>配置路由器和無線訪問點（如果使用）。<br/>將每個客戶端連接到網絡（電纜或無線），並驗證它們是否正常運行。<br/>將每個設備配置為同一工作組的一部分或創建一個家庭組；這將允許您配置每個客戶端以共享打印機和文件共享等資源。<br/>在每個客戶端上設置文件和打印共享，以指定要共享的資源。<br/>測試每個客戶端以驗證他們可以訪問Internet。<br/>測試您在步驟9中共享的資源，以確保它們已連接。如果一切正常，您將擁有一個有效的，與Internet連接的工作組，該工作組也可以在內部共享資源。<br/>As you can see, step six asks you to configure a wireless router. Watch this video to see more explanation on how to configure a SOHO wireless router.</p>
<p>如您所見，第六步要求您配置無線路由器。觀看此視頻，以了解有關如何配置SOHO無線路由器的更多說明。</p>